.app {
  width: 1200px;
  height: auto;
  margin: 0px auto;
  position: relative;

  .section {
    position: relative;
    display: flex;

    &__content {
      position: relative;
    }

    &__metrics {
      margin-left: 223px;
      animation-delay: 100ms;
    }

    &__award {
      margin-top: 50px;
      display: flex;
    }
  }
}

.fade-in {
  opacity: 0;
  animation: fadein;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
